# App environment (development / production)
NODE_ENV=development

# Server port
PORT=3000

# Main database URL
DB=

# Secondary database (if used)
DB1=

# Claude Key for AI
CLAUDE_API_KEY=
# AI model example(claude-3-haiku-20240307)
AI_MODEL=